[submodule "P1"]
	path = P1
	url = git@github.com:artichokeX/P1.git
[submodule "P2"]
	path = P2
	url = git@github.com:artichokeX/P2.git
[submodule "p3"]
	path = p3
	url = git@github.com:artichokeX/p3.git
[submodule "typescript_demo"]
	path = typescript_demo
	url = git@github.com:artichokeX/typescript_demo.git
[submodule "P4"]
	path = P4
	url = git@github.com:artichokeX/P4.git
[submodule "P5"]
	path = P5
	url = git@github.com:artichokeX/P5.git
